<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Individual Reivew using SQL</title>

	<style type="text/css">
h1{
	font-size: 200px;
	background-color: teal;
	color: blue;
	text-align: center;
}	

h2{
	font-size: 120px;
}

td{
	color:blue;

}
p {
	font-size: 35px;
}

img{
	width: 1600px;
	height: 1000px;
}


</style>

</head>
<body style="background-color: darkgray;">
<h1>Individual Car Review </h1>   

 <!-- Name of car, the image, the type of car and then it's transmission type respecitivly -->
    
<p th:each="iterationvariable: ${review}" th:text="${iterationvariable.titleofReview}" />
<p th:each="iterationvariable: ${review}" th:text="${iterationvariable.reviewCategory}" />
<p th:each="iterationvariable: ${review}" th:text="${iterationvariable.contentattribute}" />
<p th:each="iterationvariable: ${review}" th:text="${iterationvariable.datee}" />


<!-- Quick and easy lines for Design -->
<hr></hr> 
<hr></hr>

</body>
</html>